<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="aquarium">
      <section
        name="octopus"
        type="Aquarium.Octopus.Config.OctopusSection, Aquarium"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <aquarium>
    <octopus>
      <consumerMappings>
        <mapping name="feed time queue" eventType="OctopusDemoService.FeedingTimeMessage, OctopusDemoService" eventConsumerType="OctopusDemoService.FeedingTimeMessageConsumer, OctopusDemoService" subscriptionId="sub1" />
        <mapping name="clean tank time queue" eventType="OctopusDemoService.CleanTankTimeMessage, OctopusDemoService" eventConsumerType="OctopusDemoService.CleanTankTimeMessageConsumer, OctopusDemoService" subscriptionId="sub1" />
      </consumerMappings>
    </octopus>
  </aquarium>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="rabbitConnectionString" value="host=localhost;prefetchcount=1;timeout=10"/>
  </appSettings>
</configuration>